{% extends 'base.html.twig' %}

{% block title %}Function index{% endblock %}

{% block body %}
    <h1><u>{{ controller_name }}</u></h1>
    <h3> -- Variable Simple</h3>
    <small>Mon Secret : {{ leSecret }} </small><br>
    <small>Mon Int : {{ leInt }} </small>
<hr>
    <h4> -- Premier tableau</h4>
        {% for name in leTableau %}
                <a class="btn btn-danger" href="{{ path('salutFunction', { name }) }}">{{ name }}</a>
        {% endfor %}
<hr>
    <h4> -- Deuxieme tableau</h4>
    <div class="row">
        {% for element in leTableauDetail %}
            {% if element['genre'] == 'male' %}
                <div class="card" style="width: 18rem; background-color: blue">
            {% else %}
                <div class="card" style="width: 18rem; background-color: purple">
            {% endif %}
                    <div class="card-body">
                        {% if element['type'] != 'human' %}
                            <span class="badge bg-warning">⚠ PAS HUMAN</span>
                        {% else %}
                            <span class="badge bg-danger">HUMAN</span>
                        {% endif %}
                        {% if element['age'] <= 17 %}
                            <span class="badge bg-success">👶 MINEUR</span>
                        {% else %}
                            <span class="badge bg-dark">MAJEUR</span>
                        {% endif %}
                        <h5 class="card-title" style="text-decoration: underline">{{ element['name'] }}</h5>
                        {% if element['type'] == 'human' %}
                            <p class="card-text">C'est un <i>Humain</i> de <i>{{ element['age'] }}</i> ans</p>
                        {% elseif element['type'] == 'squirrel'%}
                            <p class="card-text">C'est un <i>écureuil</i> de <i>{{ element['age'] }}</i> ans</p>
                        {% endif %}
                        {% if element['genre'] == 'male' %}
                            <p class="card-text">Il s'agit d'un <i>Homme</i></p>
                        {% else %}
                            <p class="card-text">Il s'agit d'une <i>Femelle</i></p>
                        {% endif %}
                        {% set name = element['name'] %}
                        <a class="btn btn-outline-dark" href="{{ path('salutFunction', { name }) }}">Dire salut à {{ element ['name'] }}</a>
                    </div>
                </div>
        {% endfor %}
    </div>

    <hr>

    <h4> -- Salut personnaliser</h4>
    <form method="post">
        <input type="text" name="route" placeholder="votre name">
        <input type="submit">
    </form>

{% endblock %}
